TabbedContent {
  background: $surface;

  Tabs {
    padding: 0 1 0 1;
    margin-top: 1;
  }

  Tab {
    text-style: bold;
  }
}

ListView {
  & > ListItem {
    background: $surface;
    height: auto;
    border: round $panel-lighten-3;
    margin: 0 1 0 1;

    &.-highlight {
      border: round $primary-darken-3;
    }

    & > Checkbox {
      padding: 1;
      width: 100%;
      height: auto;
      border: none;
      &:focus {
        & > .toggle--label {
          background: transparent;
        }
      }
    }
  }

  &:focus {
    & > ListItem.-highlight {
      border: round $primary;
      color: $foreground;
    }
  }
}

EditScreen {
  align: center middle;

  Container {
    width: 85%;
    height: auto;
    min-height: 10;
    padding: 1;

    border: $border;
    background: $panel;
    border-title-color: $text;
    border-title-background: $panel;
    border-subtitle-color: $text;
    border-subtitle-background: $error;

    Input {
      padding: 0 1;
      margin-bottom: 1;
    }

    Horizontal {
      align: center middle;
      height: auto;
      margin-top: 1;

      Button {
        min-width: 50%;
        margin: 0 1;
      }
    }
  }
}

DelayScreen {
  align: center middle;

  Container {
    width: 85%;
    height: auto;
    min-height: 10;
    padding: 1;

    border: $border;
    background: $panel;
    border-title-color: $text;
    border-title-background: $panel;
    border-subtitle-color: $text;
    border-subtitle-background: $error;

    #delay-row {
      align: center middle;
      height: auto;
      margin-bottom: 1;

      Input {
        width: 1fr;
        text-align: center;
        margin: 0 1;
      }

      Button {
        min-width: 5;
      }
    }

    #action-row {
      align: center middle;
      height: auto;
      margin-top: 1;

      Button {
        min-width: 0;
        width: 1fr;
        margin: 0 1;
      }
    }
  }
}

NoticeWidget {
  height: 100%;
  background: $background-lighten-1;
  border: round $secondary;
  content-align: center middle;
  color: $primary-lighten-3;
}

FontsScreen {
  align: center middle;

  Container {
    width: 85%;
    height: 80%;

    border: $border;
    background: $panel;
    border-title-color: $text;
    border-title-background: $panel;
    border-subtitle-color: $text-muted;
    border-subtitle-background: $panel;

    #fonts-note {
      height: auto;
      padding: 0 1;
      margin-bottom: 1;
      color: $warning;
      text-style: italic;
    }

    #fonts-table {
      height: 1fr;
    }

    Center {
      height: 1fr;
    }
  }
}

ProgressBarScreen {
  align: center middle;

  Container {
    width: 95%;
    height: 30%;
    min-height: 10;

    border: $border;
    background: $panel;
    border-title-color: $text;
    border-title-background: $panel;
    border-subtitle-color: $text;
    border-subtitle-background: $error;
  }
}
